* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}





@-webkit-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}
@keyframes AnimationName { 
    0%{background-position:52% 0%}
    50%{background-position:49% 100%}
    100%{background-position:52% 0%}
}


body {
    font-family: 'Orbitron', sans-serif!important;
    background: linear-gradient(178deg, #5d4157, #5d4157, #fc4a1a, #f7b733, #e1eec3, #f05053, #22c1c3, #fdbb2d);
background-size: 1600% 1600%;

-webkit-animation: AnimationName 30s ease infinite;
-moz-animation: AnimationName 30s ease infinite;
animation: AnimationName 30s ease infinite;
}

#app {
    display: flex;
    align-items: center;
    height: 100vh;
}

.calculator {
    transform: scale(0.9);
    width: 100%;
    background: #2c3e50;
}

.display {
    position: relative;
    width: 100vw;
    height: 25vw;
    background: #fff;
}

.display .screen {
    display: block;
    float: right;
    height: 100%;
    width: 75vw;
}

.display .screen p{
    font-size: 2.6rem;
    direction: rtl;
    height: 100%;
    display: block;
    padding: 1rem;
    max-width: 75vw;
    max-height: 24vw;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
}

.display .clear {
    position: absolute;
}


button {
    width: 25vw;
    height: 25vw;
    display: inline-block;
    color: #fff;
    font-size: 2rem;
    float: left;
    background: transparent;
    border: none;
    transition:background 300ms linear;
}

button:hover{
    background:#f39c12;
}

.lower-block {
    position: relative;
}

.operations {
    width: 25vw;
    display: inline-block;
}

.operations button {
    background: #66819C;
}

.numbers {
    display: inline-block;
    position: absolute;
    top: 0;
}


.clear button {
    background: #50432C;
}


.equals {
    width: 50vw;
    background: #16a085;
}