<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>Calculator</title>
    <link href="https://fonts.googleapis.com/css?family=Orbitron" rel="stylesheet">
    <link rel="stylesheet" href="./css/main.css">
    <script src="./scripts/vue.js" type="text/javascript" charset="utf-8"></script>
</head>

<body>
    <div id="app">
        <div class="calculator">
            <div class="display">
                <div class="clear">
                    <button class="clean-screen" @click="cleanScreen">C</button>
                </div>
                <div class="screen">
                    <p>
                        <span v-if='isInvalid' class="is-invalid">Enter valid number</span>
                        <span v-if='enterNumberMsg' class="is-invalid">Enter numbers first</span>
                        <span v-if='!isInvalid || !enterNumberMsg'>{{screenData}}<span>
                        <span v-if='isPlaceHolder'>0</span>
                    </p>
                    
                </div>
            </div>
            <div class="lower-block">
                <div class="operations">
                    <button class="add" @click='displayOnScreen("+")'>+</button>
                    <button class="subtract" @click='displayOnScreen("-")'>&minus;</button>
                    <button class="division" @click='displayOnScreen("/")'>&divide;</button>
                    <button class="multiplication" @click='displayOnScreen("*")'>&times;</button>
                    <button class="modulus" @click='displayOnScreen("%")'>%</button>
                </div>
                <div class="numbers">
                    <button v-for="(number, index) in numbers" @click="displayOnScreen(number)">{{number}}</button>
                    <button class="back-space" @click="backSpace">&lArr;</button>
                    <button class="equals" @click="equals()">=</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
var app = new Vue({
    el: '#app',
    data: {
        numbers: [7, 8, 9, 4, 5, 6, 1, 2, 3, 0, "(", ")", "."],
        screenData: "",
        isEqual: false,
        isInvalid: false,
        enterNumberMsg: false,
        isPlaceHolder: true,
    },
    methods: {
        displayOnScreen(data) {
            this.isInvalid = false;
            this.enterNumberMsg = false;
            this.isPlaceHolder = false;
            if (this.screenData.length && data === "(") {
                var data = "*(";
            }
            if (this.isEqual) {
                // this.screenData = "";
                this.screenData += data;
                this.isEqual = false;
                this.isPlaceHolder = false;
            } else {
                this.screenData += data;
            }
        },
        cleanScreen() {
            this.screenData = "";
            this.isPlaceHolder = true;
            this.enterNumberMsg = false;
            this.isInvalid = false;
        },

        equals() {
            let screenData = this.screenData;

            if(!screenData){
                this.isInvalid = false;
                this.enterNumberMsg = true;
                this.isPlaceHolder = false;
                this.screenData = "";
                return;
            }else{
                this.enterNumberMsg = false;
            }
            
            try {
                 screenData = eval(screenData);
            }
            catch(err){
                 screenData = "";
                this.isInvalid = true;
            }
            this.screenData = screenData.toString();
            this.isEqual = true;
        },
        backSpace() {
            this.screenData = this.screenData.slice(0, this.screenData.length - 1);
        }
    }

});
</script>

</html>